
body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}



.bg-light-primary {
	background-color: #A4BC92;
}


/* Text Color */
.text-primary {
	color: var(--primary) !important;
}

/* Border */
.border-primary {
	border-color: black !important;
}





table.gridtable td, th {
	border: 1px solid black;
	text-align: left !important;
	
	}
	table.telant_table td, th {
		border: 1px solid black;
		
	}
	
	table.unit_table td, th {
			border: 1px solid black;
			text-align: left;
			
	}

	table.gridtable {
	/* border-collapse: collapse; */
	width: 100%;
	padding: 10px;
	text-align: right !important;
	}

	table.telant_table{
		/* border-collapse: collapse; */
		width: 90%;
		/* padding: 10px; */
	}

	table.unit_table{
		/* border-collapse: collapse; */
		width: 100%;
		/* padding: 10px; */
	}
	
	

	table.gridtable th, td {
	padding: 5px;
	
	}

	table.telant_table th, td {
		padding: 5px;
	}

	table.unit_table th, td {
			padding: 5px;
	}
	
	table.report_table {
	font-size: 15px !important;
	font-family: 'Times New Roman', Times, serif;
	/* border-collapse: collapse !important; */
	width: 100% !important;
	}

	table.report_table th, table.report_table td {
	padding: 8px !important;
	text-align: center !important;
	}

	table.report_table tr:nth-child(even){background-color: #f2f2f2 !important;}

	table.report_table th {
	/* background-color: #000080 !important; */
	color: black !important;
	}


	.page{

			border-style: double;

	}