#sale_report_inherit_template{
    @font-face {
        font-family:KacstLetter ;
        src: url(/report-sale-Pur/static/font/KacstLetter.ttf);
      }

}

#sale_report_inherit_template span{
  color: red !important;
}